#content_html {
	margin: 16px auto 0 auto;
	min-width: 920px;
	max-width: 1200px;
	padding: 20px 40px;
	/*background-color: #EEE;*/
	}

.row {
	overflow: auto;
	}

section.row {
	margin: 1em .5em;
	padding: 25px 20px;
	}

.content {
	/*color: #000 !important; check asterisk color setting in default.css */
	margin-top: 37px;
	}

.content a {
	border-bottom: solid 1px #CCC;
	text-decoration: none;
	}

.content a:hover {
	border-bottom: solid 1px #D2C193;
	color: #A68120; /* #BFA767 */
	text-decoration: none;
	}

.content h1 {
	border-bottom: solid 1px #CCC;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: lighter;
	margin: 0px 0 18px 0;
	padding-bottom: .25em;
	}

.content h2 {
	color: #AAA;
	font-weight: lighter;
	}

#marketing_content.content h2 {
	font-size: 1.3em;
	}

.content h3 {
	font-size: 18px;
	font-weight: lighter;
	}

.content .intro {
	margin: 0 auto;
	text-align: left;
	width: 80%;
	}

.content #company_team h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	}

.content #company_team h3 {
	margin-top: 0px;
	margin-bottom: 10px;
	}

.content ul {
	margin-bottom: 2em;
	}

.content #cre_team {
	overflow: hidden;
	width: 100%;
	}

.content .contact_details {
	width: 100%;
	}

.content .thumbnail {
	float: left;
	}

.content .name_title {
	/*float: left;
	margin-left: 285px;*/
	float: right;
	margin-left: 25px;
	text-align: left;
	}

.content .contact_info, .content .contact_info img {
	display: block;
	margin-left: 0px;
	}

.content .thumbnail img {
	border: 5px solid #AAA;
	margin: 3px 10px;
	/*padding: 5px;*/
	}

.content .gallery {
	margin-left: 35px;
	/*margin-right: auto;
	text-align: center;*/
	}

.content .featured_image img {
	border: 5px solid #AAA;
	margin: 3px 10px;
	max-width: 98%;
	}

.content .profile {
	border-bottom: solid 1px #CCC;
	margin-bottom: 25px;
	}

.content a.button {
	margin: 8px 0px 8px 8px;
	background: #DDD;
	padding: 2px 8px;
	border-radius: 5px;
	border-bottom: solid 1px #AAA;
	border-right: solid 1px #AAA;
	}

/*
.content a.button:hover {
	background: #EEE;
	border-top: solid 1px #BBB;
	border-right: solid 2px #AAA;
	border-bottom: solid 2px #AAA;
	border-left: solid 1px #BBB;
	color: #AAA;	
	}
.content ul li {
	list-style: url("/img/bullet.png") outside;
	margin-bottom: 10px;
	}
*/
#websites hgroup {
	margin-right: 50px;
}

#websites hgroup h1, #websites hgroup h2,
#applications hgroup h1, #applications hgroup h2 {
	text-align: center;
}

#development_content .copy {
	text-align: left;
}

#company_content .col-50pct {
	text-align: left;
	}

#blog_content .left-col {
	text-align: center;
	}

#blog_content .right-col {
	text-align: left;
	}

.left-col {
	margin-right: 4%;
	float: left;
	width: 48%;
	}

.right-col {
	margin-right: 0;
	float: left;
	width: 48%;
	}

#development_content .visuals {
	padding-top: 50px;
}

.highlight_white {
	background-color: white;
	margin: 2em 0;
	padding: 14px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	}

#company_info .highlight_white {
	width: 85%;
	}